<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mini_web_Study.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0AD7B341EE9493200C8F4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0AD7B481EE9493200C8F4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0AD7B531EE9493200C8F4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
